*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.footer{
	background-color: #2d2d2d;
	color: white;
}
.row{
	display: flex;
	align-items: center;
	justify-content: center;
}
.body1{
	background-color: #f3f3f3;
}

.bady{
	flex:1;
	padding: 0px 10px 0px 150px;
}

.body{
	flex:1.5;
	padding:0px 30px;
	text-align:center;
	font-size:18px ;
}
.column {
	padding:50px;
}
.cta{
	background-color: #f3f3f3;
	margin: 30px 0px 0px 0px;
	padding: 25px;
}
.cta .call{
	flex: 3;
	text-align: center;
}
.cta .action{
	flex: 1;
}
.action .btn{
	border: 1px solid #111111;
	border-radius: 20px;
	background-color: #111111;
	color: white;
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
}
.column{
	flex: 1;
	padding: 20px;
}
.logo{
	flex: 1;
}
nav{
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding:10px;
}
nav a{
	text-decoration: none;
	font-size: 30px;
	color: red;
	margin:10px 30px;
	padding:0px 20px;
.}
.about{
	padding: 20px 300px;
	text-align: center;
	margin:20px 20px;
	font-size: 18px;
}
.services{
	padding: 30px 100px;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: ;
}
.services .column{
	box-shadow: 1px 1px 20px 1px;
	margin:20px 25px;
	font-size: 18px;
}

.form h3{
	flex: 1;
	font-size: 30px;
	padding: 10px 50px;
}
.form form{
	flex: 1;
}
form input{
	width: 80%;
	height: 30px;
	margin: 10px 0px;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

@media (max-width: 600px){
	.row, nav{
		flex-direction: column;
	}
}