*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.footer{
	background-color: #2d2d2d;
	color: white;
}
.row{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0px;
}
.cta{
	background-color: #f3f3f3;
	margin: 30px 0px 0px 0px;
}
.cta .call{
	flex: 3;
	text-align: center;
}
.cta .action{
	flex: 1;
}
.action .btn{
	border: 1px solid #111111;
	border-radius: 5px;
	background-color: #111111;
	color: white;
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
}
.column{
	flex: 1;
	padding: 10px;
}
.logo{
	flex: 1;
}
nav{
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding:10px;
}
nav a{
	text-decoration: none;
	font-size: 20px;
	color: black;
	margin:10px 20px;
}
.about{
	padding: 20px 200px;
	text-align: center;
	margin:20px 20px;
}
.services{
	padding: 30px 100px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.services .column{
	border:1px solid #111111;
	margin:20px 25px;
}

.form{
	
}
.form h3{
	flex: 1;
	font-size: 30px;
	padding: 10px 50px;
}
.form form{
	flex: 1;
}
form input{
	width: 80%;
	height: 30px;
	margin: 10px 0px;
}